img{
    height: 100%;
    width: 140px;
    padding: 5px;
    box-sizing: border-box;
}

.solid--hover:hover{
    color: orange;
}

.btn{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;

    &--signup{
        color: orange;
    }
}

.app-header{
    height: 10vh;
    width: 100%;
    min-height: 50px;
    background-color: black;

    .top-bar{
        height: 100%;
        width: 80%;
        box-sizing: border-box;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        display: flex;
        color: white;

        &__signin-signup{
            margin-left: 20px;
            display: flex;
            column-gap: 10px;
        }

        &__item{
            display: block;
            height: 100%;
        }
        &__search-bar-wrapper{
            display: flex;
            .search-bar{
                box-sizing: border-box;
                min-height: 30px;
                max-height: 30px;
                width: 550px;
                font-weight: bold;
                &:focus-visible{
                    outline: none;
                }
            }
            .search-button{
                font-size: 20px;
                font-weight: bold;
                box-sizing: border-box;
                display: block;
                cursor: pointer;
                min-height: 30px;
                max-height: 30px;
            }
        }
        
        &__user{
            display: flex;
            column-gap: 10px;
            cursor: pointer;
        }

        &__cart{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            .badge{
                position: absolute;
                top: -5px;
                right: -15px;
                background-color: orange;
                color: white !important;
                width: 20px;
                height: 20px;
                border-radius: 20px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
}
